$themeColor: #aad4ef;

@import "variables";
@import "twitter/awesome-bootstrap";
@import "gko/public/base";
@import "gko/catalog/zoom";
@import "flexslider/flexslider";

.btn-custom {
  background-color: hsl(207, 58%, 75%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bad6ec", endColorstr="#9ac2e4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bad6ec), to(#9ac2e4));
  background-image: -moz-linear-gradient(top, #bad6ec, #9ac2e4);
  background-image: -ms-linear-gradient(top, #bad6ec, #9ac2e4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bad6ec), color-stop(100%, #9ac2e4));
  background-image: -webkit-linear-gradient(top, #bad6ec, #9ac2e4);
  background-image: -o-linear-gradient(top, #bad6ec, #9ac2e4);
  background-image: linear-gradient(#bad6ec, #9ac2e4);
  border-color: #9ac2e4 #9ac2e4 hsl(207, 58%, 73%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
} 

.popover {
	width: 300px;
	height: 300px; 
}
// Layout
// --------------------------------------------------
#wrapper-wide-body {
  max-width: 979px; 
  @include center-block; 
}

.page-title {
	font-family: $serifFontFamily;
} 
// Navbar
// --------------------------------------------------
.navbar-inner {
  border: none;
  @include border-radius(0);
  @include box-shadow(none);
  border-bottom: 1px solid #eeeeee;
}
.navbar {
	.brand {
		float: left;
		position: relative;
		letter-spacing: 4px;
		text-align: center;
		text-transform: uppercase;
		line-height: 20px;
		font-weight: 300;
		font-size: 20px;
		margin: 0;
		padding: 0;
		@include size(57px, 126px);
		@include navbar-vertical-align(57);
		a {
			position: absolute;
			color: $navbarBrandColor;
			cursor: pointer;
			padding: 0;
			margin: 0 auto;
			background: transparent image-url("logo.png") top left no-repeat;
			text-decoration: none;
			display: block;
			@include size(57px, 126px);
			@include hide-text;
			&:hover {
				color: $white;
				text-decoration: none;
			};
		}
	}
	.nav {
		float:right;
	} 
	.nav-collapse {
		clear: both;
		 .nav {
			float: left; 
		 } 
	 }
	.nav > li > a {
		text-transform: capitalize;
		font-size: 12px;
		text-shadow: none; 
		padding: 8px 14px 8px; 
	} 
	.dropdown-menu {
	 @include border-radius(0);
	 @include box-shadow(none);
	}
}
// Flexslider
// --------------------------------------------------
.flexslider {
	margin: 0 0 $baseLineHeight;
	border: none;
	@include border-radius(0);
 	@include box-shadow(none);
} 
// Product
// --------------------------------------------------
#products {
	.page-title {
		font-size: 14px; 
		text-transform: uppercase;
    }
}
#product {
	.page-title {
		font-size: 16px; 
		text-transform: uppercase;
    }
}
.nav-social-buttons {
	li {
		float: left;
		margin-left: 4px;
	}
	@include clearfix();
}

// Grid
// --------------------------------------------------
.thumbnail {
	margin: 0;
	padding: 0;
	border: none;
	@include border-radius(0);
	@include box-shadow(none);  
	img {
		//float:left;
	}
	.caption {
		padding: 0;
	}
	.title {
		text-transform: uppercase;
		font-size: 12px; 
		line-height: 16px;
		letter-spacing: 0;
		color: black;
		font-weight: bold;
		margin: 0;  
		margin-top: $baseLineHeight/2;
		margin-bottom: $baseLineHeight/2;
		
		text-align: center;
	}
	.product-price {
		text-align: center; 
		font-size: 9px;
	}
}
#product-variants { 
	.nav {
	   @include clearfix();  
	}
	.nav > li > a > span {
		font-style: italic;
		font-size: $baseFontSize - 2;
	}
	li {
		height: 200px;
		float: left;
	   .btn {
		   line-height: 40px; 
		}
	}
	.btn-popover {
		text-align: left;
		
	} 
	.print-preview {
		//display: inline-block;
		width: 60px;
		height: 60px;
		//margin-top: 1px;
        //margin-right: 6px;
		
	}  
}

// Aside
// --------------------------------------------------
aside {
	hr {
		@include clearfix();
	}
	.nav > li a {
 		text-transform: uppercase;
	}
	.nav > li a:hover, 
	.nav > li a:focus {
		text-decoration: underline;
		background-color: transparent;
	} 

}  
// Footer
// --------------------------------------------------
footer {   
	margin-top: $baseLineHeight*2;
	padding-bottom: $baseLineHeight*2;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	h4 {
  		text-transform: uppercase; 
    }
	.nav.social-media-nav > li > a {

		i {
			font-size: 18px;
		}
	}
}

